.yla-table {
  max-height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  border: 1px solid #DDD;
  font-size: 0.9em;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
.yla-table > .yla-table__header,
.yla-table > .yla-table__body,
.yla-table > .yla-table__footer {
  grid-gap: 1px;
  display: grid;
  -webkit-box-align: stretch;
          align-items: stretch;
  grid-template-columns: inherit;
}
.yla-table > .yla-table__header > div,
.yla-table > .yla-table__body > div,
.yla-table > .yla-table__footer > div {
  padding: 16px;
}
.yla-table > .yla-table__header {
  color: #EEE;
  background-color: #353535;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  flex-shrink: 0;
}
.yla-table > .yla-table__header > div a {
  color: #EEE;
}
.yla-table > .yla-table__header > div a:hover {
  color: #FF9800;
}
.yla-table > .yla-table__footer {
  flex-shrink: 0;
}
.yla-table > .yla-table__body,
.yla-table > .yla-table__footer {
  background-color: #DDD;
  overflow: auto;
  color: #232323;
}
.yla-table > .yla-table__body > div,
.yla-table > .yla-table__footer > div {
  background-color: white;
}
.yla-table > .yla-table__body > div.strip,
.yla-table > .yla-table__footer > div.strip {
  background-color: #F6F6F6;
}
.yla-table > .yla-table__body > div.center,
.yla-table > .yla-table__footer > div.center {
  text-align: center;
}
.yla-table > .yla-table__body > div.right,
.yla-table > .yla-table__footer > div.right {
  text-align: right;
}
.yla-table > .yla-table__body > div input,
.yla-table > .yla-table__footer > div input {
  text-align: inherit;
  font-size: inherit;
  background-color: transparent;
  border-bottom: 1px dashed #DDD;
}
.yla-table > .yla-table__body > div a,
.yla-table > .yla-table__footer > div a {
  color: #232323;
}
.yla-table > .yla-table__body > div a.menu,
.yla-table > .yla-table__footer > div a.menu {
  color: #999;
}
.yla-table > .yla-table__body > div a:hover,
.yla-table > .yla-table__footer > div a:hover {
  color: #FF5722;
}
.yla-table > .yla-table__footer {
  border-top: 1px solid #DDD;
  overflow: hidden;
}
.yla-table > .yla-table__footer > div {
  font-weight: 600;
}
