@import "variable";
.yla-table {
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid @border;
    font-size: 0.9em;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    table {
        width: 100%;
        border-collapse: collapse;
        th,
        td {
            padding: 16px;
        }
        th {
            font-weight: 600;
            &.scroll-bar {
                padding: 0;
            }
        }
    }
    >.yla-table__header {
        overflow: hidden;
        flex-shrink: 0;
        th {
            border: 1px solid @color;
            background-color: @darkBg;
            font-weight: 600;
            color: @colorLight;
            &.sortable {
                cursor: pointer;
                &:hover {
                    color: @main;
                }
            }
            &.sorted {
                &::after {
                    margin-left: 8px;
                    content: '\25BE';
                }
                &.desc::after {
                    content: '\25B4';
                }
            }
            a {
                color: @colorLight;
                &:hover {
                    color: @main;
                }
            }
        }
    }
    >.yla-table__body {
        overflow: auto;
        position: relative;
        margin: 0 -1px;
        >div {
            padding: 16px;
            text-align: center;
            background-color: @contentBg;
        }
        table {
            thead,
            tfoot {
                visibility: collapse;
                th {
                    padding-top: 0;
                    padding-bottom: 0;
                    line-height: 0;
                    overflow: hidden;
                }
            }
            tbody>tr {
                background-color: @contentBg;
                &:nth-child(2n) {
                    background-color: @stripColor;
                }
                >td {
                    border: 1px solid @border;
                    white-space: nowrap;
                    input {
                        text-align: inherit;
                        font-size: inherit;
                        background-color: transparent;
                        border-bottom: 1px dashed @border;
                    }
                    a {
                        color: @color;
                        &.menu {
                            color: @colorLink;
                        }
                        &:hover {
                            color: @mainDark;
                        }
                    }
                }
            }
        }
    }
    >.yla-table__footer {
        overflow: hidden;
        flex-shrink: 0;
        th {
            border: 1px solid @color;
            background-color: @darkBg;
            font-weight: 600;
            color: @main;
        }
    }
}